<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html">
    <h:head>
        <title>TODO supply a title</title>
    </h:head>
    <h:body>
        <h:form enctype="multipart/form-data">
            <p:growl id="messages" showDetail="true" />

            <p:fileUpload value="#{fileUploadView.file}" mode="simple" />

            <p:commandButton value="Submit" ajax="false" action="#{fileUploadView.upload}"/>

        </h:form>
        <br />
        <h:link outcome="welcomePrimefaces" value="Primefaces welcome page" />
    </h:body>
</html>
